<head><link rel="stylesheet" type='text/css' href="/confirm_request.css">
  <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<div>
<h1> Request Confirmed! </h1>

<form action='/<%= @user.id %>/all_listings' method='GET'>
  <input type='submit' value='Back to Listings'>
</form>
</div>
