<head><link rel="stylesheet" type='text/css' href="/confirm_approve.css">
  <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
<div><h1> Request Approved! </h1>

<form action='/<%= @user.id %>/my_listings' method='GET'>
  <input type='submit' value='Back to My Listings'>
</form>
</div>
</body>
