<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="sign_in_page.css">
</head>

<body>

<h1> Welcome Back! </h1>

<h2> Please Sign in. </h2>

<form action="/session" method="post">
  <h4>Username:</h4>
  <input type="text" name="username">
  <h4>Password:</h4>
  <input type="text" name="password">
  <input type="submit" value="Log In">
</form>



</body>
</html>