<body  background="https://www.vacanceole.com/wp-content/uploads/MONT-ST-MICHEL.jpg">

<span style="text-decoration: underline; color: #0099ff; font-family:courier"> <h1> Welcome, <%= @user.username %> </h1> </span>
<h1> All Listings: </h1>
<% @listings.each do |listing| %>
<br><%= listing.name %></br>
<% end %>

<form action='/<%= @user.id %>/my_listings' method='GET'>
  <input type='submit' value='My Listings'>
</form>

<form action='/' method='GET'>
  <input type='submit' value='Sign Out'>
</form>
<div style='border: 20px '>

</div>
</body>
