<head><link rel="stylesheet" type='text/css' href="/sign_in_page.css">
<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'></head>
<body>

<div>MakersBnB</div>

<h2> To get set up and staying in the home of your dreams, please sign in below.</h2>

<form action="/new_session" method="post">
  <h4>Username:</h4>
  <input type="text" name="username">
  <h4>Password:</h4>
  <input type="text" name="password">

  <input type="submit" value="Submit">
</form>

<h2> To Create a New Account, please fill in your details below: </h1>
  <form action="/new_user" method="post">
  <h4> Username: </h4>
  <input type='text' name='new_username'>
  <h4> Password: </h4>
  <input type='text' name='new_password'>
  <input type='submit' value='Create Account'>
</form>


<div style='border: 20px '>

</div>
</body>
