<body  background="https://www.vacanceole.com/wp-content/uploads/MONT-ST-MICHEL.jpg">

<span style="text-decoration: underline; color: #0099ff; font-family:courier"> <h1> Welcome to MakersBnB </h1> </span>

<h2> To get set up and staying in the home of your dreams, please create a username and password below.</h2>

<form action="/new_session" method="post">
  <h4>Username:</h4>
  <input type="text" name="username">
  <h4>Password:</h4>
  <input type="text" name="password">

  <input type="submit" value="Submit">
</form>

<div style='border: 20px '>

</div>
</body>
